In [1]:
# Code to analyze emergency closure data

"""
Here are codes used by state inspectors when they determine
a restaurant should be closed temporarily. This is taken from
http://www.myfloridalicense.com/DBPR/hotels-restaurants/inspections/inspection-dispositions/


Facility Temporarily Closed:
Operations ordered stopped until violations are corrected
The inspector recommended closing the facility immediately
after finding conditions that may endanger the health and
safety of the public.

Dispositions included in this result are:

Emergency order recommended – Conditions have been found
that endanger the health and safety of the public requiring
immediate closure of the establishment.

Administrative determination recommended – The establishment
is operating without a license and action is being taken
to ensure proper licensing is completed.

Emergency Order Callback Not Complied – Corrections to violations
that resulted in an emergency order were not completed
at the time of inspection. Violations may not be noted
again on these inspection reports.
"""

import csv
import pandas as pd
import numpy as np
import sqlite3

# Set up connection to database.

imacpath = "/Users/rayd/workspace/flinsp/datafiles/"
airpath = "/Users/Doug/workspace/flinsp/datafiles/"
dbfile = "rinspect18.sqlite"
dbpath = imacpath + dbfile
conn = sqlite3.connect(dbpath)

# Make a list of visitid numbers for restaurants shut down
# by inspectors.

conn.row_factory = lambda cursor, row: row[0]
c = conn.cursor()

# on initial inspection
vids = c.execute("SELECT visitid FROM fdinsp WHERE inspdispos = 'Emergency order recommended'").fetchall()

# remained shut on subsequent inspection
vids2 = c.execute("SELECT visitid FROM fdinsp WHERE inspdispos = 'Emergency Order Callback Not Complied'").fetchall()

# Make pandas dataframe for both sets

conn = sqlite3.connect(dbpath)

df = pd.read_sql_query("SELECT * FROM fdinsp WHERE inspdispos = 'Emergency order recommended';", conn)
df2 = pd.read_sql_query("SELECT * FROM fdinsp WHERE inspdispos = 'Emergency Order Callback Not Complied';", conn)

# Test to see if our dataset is complete

count1 = df.shape
count2 = df2.shape
print("There were " + str(count1[0]) + " restaurants closed on first inspection.")
print("\nThere were " + str(count2[0]) + " remained closed on subsequent inspection.")

# Contains 'Emergency' but means reopened
df_test1 = pd.read_sql_query(
    "SELECT * FROM fdinsp WHERE inspdispos = 'Emergency Order Callback Complied';", conn
    )
count3 = df_test1.shape
print("\nThere were " + str(count3[0]) + " cleared and opened by subsequent inspection.")

# Contains 'Emergency' but also means reopened
df_test2 = pd.read_sql_query(
    "SELECT * FROM fdinsp WHERE inspdispos = 'Emergency Order Callback Time Extension';", conn
    )
count4 = df_test2.shape
print("\nThere were " + str(count4[0]) + " reopened but will need another inspection.")

print("\n" +
    str(count1[0]) + " + " +
    str(count2[0]) + " + " +
    str(count3[0]) + " + " +
    str(count4[0]) + " + " +
    " = " + str(count1[0] + count2[0] + count3[0] + count4[0])
     )

# Contains something like 'Emergency' but are there some where spelling or capitalization shifts?
df_test3 = pd.read_sql_query("SELECT * FROM fdinsp WHERE inspdispos LIKE '%mergency%';", conn)
count5 = df_test3.shape
print("\nThere were " + str(count5[0]) + " that had some word like 'emergency'.")

print("\nSo it looks like we got them all.")

There were 1238 restaurants closed on first inspection.

There were 547 remained closed on subsequent inspection.

There were 810 cleared and opened by subsequent inspection.

There were 365 reopened but will need another inspection.

1238 + 547 + 810 + 365 +  = 2960

There were 2960 that had some word like 'emergency'.

So it looks like we got them all.

In [2]:
# Create list of dictionaries with detailed inspection reports
# that led to closures

def dict_factory(cursor, row):
    dvio = {}
    for idx, col in enumerate(cursor.description):
        dvio[col[0]] = row[idx]
    return dvio

lvio = []
lvio2 = []

# initial closures
for vid in vids:
    con = sqlite3.connect(dbpath)
    con.row_factory = dict_factory
    cur = con.cursor()
    cur.execute(f"SELECT * FROM violations WHERE visitid = {vid}")
    lvio.extend(cur.fetchall())
    con.close()

# orders to remain closed
for vid2 in vids2:
    con = sqlite3.connect(dbpath)
    con.row_factory = dict_factory
    cur = con.cursor()
    cur.execute(f"SELECT * FROM violations WHERE visitid = {vid2}")
    lvio2.extend(cur.fetchall())
    con.close()

In [3]:
# Make dataframes with violation details

df3 = pd.DataFrame(lvio) # Closed on initial inspection
df4 = pd.DataFrame(lvio2) # Remained closed after follow-up

# What was the most common violation in a closure inspection?

df3g = df3.groupby('violation').count().sort_values(by=['visitid'], axis=0, ascending=False)

# What were the most common violations in a closure inspection?

df3.groupby('violation').count().sort_values(
    by=['visitid'], axis=0, ascending=False
    ).head(10)

           details_id   id  obs  visitid
violation
35A-05-4          541  541  541      541
35A-03-4          466  466  466      466
03A-02-4          410  410  410      410
35A-04-4          383  383  383      383
35A-02-5          277  277  277      277
31B-02-4          239  239  239      239
01B-02-4          203  203  203      203
31A-03-4          197  197  197      197
02C-02-4          179  179  179      179
53B-01-5          176  176  176      176

In [4]:
df_stopsale = df3[df3.obs.str.contains("Stop Sale issued")==True]
df_stopsale.shape
print("In the df of inspections using the summary reports that contained")
print("the words 'Emergency order recommended', we saw " + str(count1[0]) + " initial closures." )
print("But in checking the detailed reports, we find " + str(df_stopsale.shape[0]) + " with 'Stop sale'")
print("Can you have a closure without a 'Stop sale'?")
print("Answers: Yes. 'Stop sale' refers to food item, maybe bad temp, not to the restaurant generally.")

In the df of inspections using the summary reports that contained
the words 'Emergency order recommended', we saw 1238 initial closures.
But in checking the detailed reports, we find 303 with 'Stop sale'
Can you have a closure without a 'Stop sale'?
Answers: Yes. 'Stop sale' refers to food item, maybe bad temp, not to the restaurant generally.

In [5]:
# Can we find which violations resulted in the most closures?

# Violation codes and descriptions
a = '35A-01-4' # Intermediate: Service animals
b = '35A-02-5' # High priority: Live, small flying insects in food service area
c = '35A-03-4' # Basic: Dead roaches on premesis
d = '35A-04-4' # High priority: Rodent activity present as evidenced by droppings
e = '35A-05-4' # High priority: Live roaches found
f = '35A-06-4' # Basic: Accumulation of dead or trapped pests
g = '35A-07-4' # High priority: Small flying insects in bar, kitchen, dumster, prep area
h = '35A-09-4' # High priority: Presence of insects, rodents or other pests
i = '35A-18-4' # High priority: Rodent rub marks present
j = '35A-20-4' # Basic: Dead rodent present
k = '35A-21-4' # High priority: Rodent burrow or nesting materials present
l = '35A-23-4' # High priority: Rodent droppings present
m = '03A-02-4' # High priority: Potentially hazardous  cold food held at greater than 41 degrees

# Are there any closures that don't involve 35A-0*'?
df3z = df3
df3za = df3.groupby('visitid').filter(lambda x: all(a != i for i in x['violation']))
df3zb = df3z.groupby('visitid').filter(lambda x: all(b != i for i in x['violation']))
df3zc = df3z.groupby('visitid').filter(lambda x: all(c != i for i in x['violation']))
df3zd = df3z.groupby('visitid').filter(lambda x: all(d != i for i in x['violation']))
df3ze = df3z.groupby('visitid').filter(lambda x: all(e != i for i in x['violation']))
df3zf = df3z.groupby('visitid').filter(lambda x: all(f != i for i in x['violation']))
df3zg = df3z.groupby('visitid').filter(lambda x: all(g != i for i in x['violation']))
df3zh = df3z.groupby('visitid').filter(lambda x: all(h != i for i in x['violation']))
df3zi = df3z.groupby('visitid').filter(lambda x: all(i != i for i in x['violation']))
df3zj = df3z.groupby('visitid').filter(lambda x: all(j != i for i in x['violation']))
df3zk = df3z.groupby('visitid').filter(lambda x: all(k != i for i in x['violation']))
df3zl = df3z.groupby('visitid').filter(lambda x: all(l != i for i in x['violation']))
df3zm = df3z.groupby('visitid').filter(lambda x: all(m != i for i in x['violation']))

#On checking database directly, this doesn't seem to work ....
print("This approach finds whether, if a violation is present, it always")
print("results in a closure order:")
print("\nThe number of closures on initial inspection = " + str(df3z.shape[0]))
print("\nThe number of closures, despite this being found:")
print("'Service animals' = " + str(df3za.shape[0]))
print("'Live, small flying insects in food service area' = " + str(df3zb.shape[0]))
print("'Dead roaches on premesis' = " + str(df3zc.shape[0]))
print("'Rodent activity present as evidenced by droppings' = " + str(df3zd.shape[0]))
print("'Live roaches found' = " + str(df3ze.shape[0]))
print("'Accumulation of dead or trapped pests' = " + str(df3zf.shape[0]))
print("'Small flying insects in bar, kitchen, dumster, prep area' = " + str(df3zg.shape[0]))
print("'Presence of insects, rodents or other pests' = " + str(df3zh.shape[0]))
print("'Rodent rub marks present' = " + str(df3zi.shape[0]))
print("'Dead rodent present' = " + str(df3zj.shape[0]))
print("'Rodent burrow or nesting materials present' = " + str(df3zk.shape[0]))
print("'Rodent droppings present' = " + str(df3zl.shape[0]))
print("'Potentially hazardous  cold food held at greater than 41 degrees' = " + str(df3zm.shape[0]))
print("\nSo, if 'Rodent rub marks present', the doors are closed!")

This approach finds whether, if a violation is present, it always
results in a closure order:

The number of closures on initial inspection = 16625

The number of closures, despite this being found:
'Service animals' = 16604
'Live, small flying insects in food service area' = 11548
'Dead roaches on premesis' = 8358
'Rodent activity present as evidenced by droppings' = 10255
'Live roaches found' = 7557
'Accumulation of dead or trapped pests' = 15848
'Small flying insects in bar, kitchen, dumster, prep area' = 16006
'Presence of insects, rodents or other pests' = 15831
'Rodent rub marks present' = 0
'Dead rodent present' = 16250
'Rodent burrow or nesting materials present' = 16118
'Rodent droppings present' = 15224
'Potentially hazardous  cold food held at greater than 41 degrees' = 8477

So, if 'Rodent rub marks present', the doors are closed!

In [6]:
# Which counties had the most closures?
# Calculated as closers per licensed restaurant

# Count closures per county; these were closed on initial inspection.
dfc = df.groupby('county').count()
dfc = dfc.licnum.reset_index()
dfc = dfc.rename(columns={'county' : 'county', 'licnum' : 'closures'})
dfc = dfc.set_index('county')
print(dfc)

# Which counties are included in closures
co_inc = list(df.groupby(['county']).groups.keys())

#List of all Florida counties
with open('outfiles/counties.txt', 'r') as f:
    fl_counties = [line.rstrip('\n') for line in f]

def diff(co_inc, fl_counties):
    co_dif = [i for i in co_inc + fl_counties if i not in co_inc]
    return co_dif

missing_counties = diff(co_inc, fl_counties)

print("\nDid any counties not have closure orders in FY2018-19?")
print("\nThese are not included: " + str(', '.join(missing_counties)))
print("\nBut Miami-Dade listed simply as Dade in our data frame.")

missing = list(missing_counties)
missing.remove('Miami-Dade')

              closures
county
Alachua             14
Baker                2
Bay                 19
Bradford             2
Brevard             48
Broward            114
Charlotte            5
Citrus              10
Clay                 4
Collier             17
Columbia             7
Dade               145
Dixie                1
Duval              108
Escambia            19
Flagler              2
Franklin             2
Gadsden              6
Gilchrist            2
Glades               1
Hardee               1
Hendry               1
Hernando            23
Highlands            7
Hillsborough        88
Indian River         4
Jackson              5
Jefferson            1
Lake                16
Lee                 28
Leon                32
Levy                 1
Madison              1
Manatee             27
Marion              44
Martin               1
Monroe               7
Okaloosa             9
Okeechobee           3
Orange              75
Osceola              4
Palm Beach          73
Pasco               27
Pinellas            96
Polk                34
Putnam               3
Santa Rosa           8
Sarasota            16
Seminole            10
St. Johns           22
St. Lucie           12
Sumter               3
Suwannee             3
Volusia             20
Wakulla              3
Walton               2

Did any counties not have closure orders in FY2018-19?

These are not included: Calhoun, DeSoto, Gulf, Hamilton, Holmes, Lafayette, Liberty, Miami-Dade, Nassau, Taylor, Union, Washington

But Miami-Dade listed simply as Dade in our data frame.

In [7]:
# Read in csv of licensed restaurants per county
df_cntylic = pd.read_csv('datafiles/countycount.csv')
df_cntylic = df_cntylic.drop(['Unnamed: 0'], axis=1)
df_cntylic = df_cntylic[~df_cntylic['co_name'].isin(missing)] # drop missing counties
df_cntylic= df_cntylic.rename(columns={"lic_count": "licenses", "co_name": "county"})
df_cntylic = df_cntylic.set_index('county')

# Closures per license
dfc = df_cntylic.join(dfc) # join closures in each county with count of licenses in each county 
dfc['ratio'] = dfc.closures / dfc.licenses
dfc['percent'] = dfc.ratio * 100
dfc = dfc.sort_values(by=['ratio'])
most_closed = dfc.sort_values(by=['ratio'], ascending=False).head(10)
least_closed  = dfc.sort_values(by=['ratio'], ascending=True).head(10)
dfc['ratio'] = dfc.closures / dfc.licenses
dfc['percent'] = dfc.ratio * 100
dfc = dfc.sort_values(by=['ratio'])
most_closed = dfc.sort_values(by=['ratio'], ascending=False).head(10)
least_closed  = dfc.sort_values(by=['ratio'], ascending=True).head(10)
print("Counties as outliers for the most closures:")
print(most_closed.head(20))

Counties as outliers for the most closures:
           licenses  closures     ratio    percent
county
Gilchrist        16         2  0.125000  12.500000
Glades           15         1  0.066667   6.666667
Gadsden          91         6  0.065934   6.593407
Hernando        366        23  0.062842   6.284153
Marion          734        44  0.059946   5.994550
Dixie            19         1  0.052632   5.263158
Jackson          95         5  0.052632   5.263158
Wakulla          58         3  0.051724   5.172414
Baker            44         2  0.045455   4.545455
Columbia        162         7  0.043210   4.320988

In [8]:
print("Counties as outliers for the least closures:")
print(least_closed.head(20))

Counties as outliers for the least closures:
              licenses  closures     ratio   percent
county
Martin             526         1  0.001901  0.190114
Osceola           1050         4  0.003810  0.380952
Walton             335         2  0.005970  0.597015
Flagler            233         2  0.008584  0.858369
Seminole          1042        10  0.009597  0.959693
Indian River       391         4  0.010230  1.023018
Monroe             677         7  0.010340  1.033973
Clay               370         4  0.010811  1.081081
Levy                89         1  0.011236  1.123596
Hendry              82         1  0.012195  1.219512

In [9]:
# List restaurants by how many closures they had this year.

# Drop unneeded columns
dropcols = ['librow', 'inspnum', 'insptype', 'inspdispos', 'inspdate', 'totalvio', 'highvio', 'licid', 'visitid', 'time_now', 'time_posted']
df_restaurants = df.drop(dropcols, axis=1)

In [10]:
#Count repeated closures per restaurant, listed by license number
dupes = df_restaurants.pivot_table(index=['licnum'],aggfunc='size')
dupes = dupes.reset_index()

# Drop repeated rows so we can match with the dupes
df_repeats = df_restaurants[df_restaurants.duplicated()]

# Merge dataframes to get df with count of repeats
dupes_count = pd.merge(df_repeats, dupes, on='licnum')
dupes_count = dupes_count.sort_values(by=[0], ascending=False)
dupes_count = dupes_count.drop_duplicates()
isdupe = dupes_count[0]>1 # those with >1 closure
dupes = dupes_count[isdupe] # filter for those >1 closure
dupes

,county,licnum,sitename,streetaddy,cityaddy,zip,0
32,Marion,5202788,Pineapple Sam's Cafe,18976 E Hwy 40,Silver Springs,34488,4
66,Marion,5200016,Richard's Place,316 E Silver Spgs Blvd,Ocala,344705830,4
24,Leon,4703122,New Times Country Buffet,1701 N Monroe St,Tallahassee,32303,3
100,Alachua,1103518,Grand Cafe,13 W University Ave,Gainesville,32601-5313,3
80,Broward,1620527,Asian Buffet & Grill,240 S Federal Highway,Deerfield Beach,33441,3
51,Orange,5805454,New York Broadway Pizza,"6807 Visitors Cir , Suite B",Orlando,32819,3
93,Pinellas,6217825,Hideaway Pizza Pub,3901 6 St S,St. Petersburg,33705,3
96,Polk,6308173,Marco's Pizza,703 N Combee Road,Lakeland,33801,3
98,Pinellas,6212759,Los Mariaches #2,9100 Ulmerton Road,Largo,337713821,3
84,Leon,4702440,Beef O' Brady'S,1800 Thomasville Road,Tallahassee,32303,3
103,Pasco,6150545,Dona Orlanda Tortas Y Tacos,37511 Lock St,Dade City,33523,3
71,Duval,2613227,Basil Thai Restaurant And Bar,1004 Hendricks Ave,Jacksonville,32207,3
11,Pinellas,6217413,Big Apple Buffet,1030 58th St N,St. Petersburg,33710,3
77,Broward,1616745,Notre Dame Rest,4859 N Dixie Hwy,Pompano Beach,33064-4861,2
82,Broward,1623821,Nikki's Orange Kitchen,1 Ocean Blvd Sp 102,Pompano Beach,33062,2
81,Brevard,1505609,Rolli Porkloin Extraordinaire,31 East New Haven Ave,Melbourne,32901,2
117,Duval,2609087,Jax Market Place Take Out #2,614 Pecan Park Road,Jacksonville,32218,2
116,Manatee,5100204,Sea Hut Restaurant,U S Hwy 19 & 55 Ave,Palmetto,34221,2
78,Palm Beach,6021666,Cafeteria Hellen,4047 Okeechobee Blvd #207,West Palm Beach,33409,2
75,Duval,2612424,Blu Diner,5868 Norwood Ave,Jacksonville,32208,2
76,Dade,2317878,Simon Lumiere Restaurant,12750 W Dixie Hwy,North Miami,33161,2
73,Hillsborough,3912624,China Yuan Restaurant,8502 N Armenia Ave #A1,Tampa,33604,2
68,Wakulla,7502856,Angelo's Seafood Restaurant,5 Mashes Sands Road,Panacea,32346,2
69,Brevard,1502781,Northside Sports Grill,4835 W Eau Gallie Blvd,Melbourne,32935,2
74,Brevard,1502107,Ichabod'S,2320 N Hwy A1A,Indialantic,329032568,2
72,Lee,4606192,Jill's Joint,889 NE 27th Lane #1,Cape Coral,33909,2
113,Volusia,7405384,Chases On The Beach,3401 S Atlantic Ave,New Smyrna Beach,32169,2
91,Baker,1200125,Frasers Corner Cafe,7163 E Mt Vernon St,Glen St Mary,32040,2
85,Dade,2335389,El Lyon Super Restaurant,13202 W Dixie Hwy,North Miami,33161,2
95,Broward,1622425,Oceano Bistro & Lounge,1350 N Ocean Blvd,Pompano Beach,33062,2
...,...,...,...,...,...,...,...
3,Dade,2316938,Bagel Cove Restaurant And Deli,19003 Biscayne Blvd,Aventura,33180,2
2,Dade,2301334,Mingies Chinese Restaurant,760 NW 183rd St,Miami,33169,2
30,Pinellas,6216424,Shark Tales,677 75 Ave,St.Pete Beach,33706,2
31,Volusia,7403366,Mannys Pizza,3318 S Atlantic Ave,New Smyrna Beach,32169,2
35,Citrus,1900890,Suncoast Bar & Grill,10350 W Yulee Dr,Homosassa,34448,2
36,Dade,2326861,China Express,5301 NE 2 Ave,Miami,33137,2
61,Marion,5202925,Freddy's Frozen Custard & Steakburger,"3558 SW College Road,, Suite 100",Ocala,34474,2
60,Brevard,1506204,Thai Thai House,"215 Palm Bay Road NE, Suite 169",Melbourne,32904,2
1,Broward,1623958,Sabores Brasil,4831 N Dixie Hwy,Deerfield Beach,33064,2
58,Highlands,3800549,Oscar's Family Restaurant,267 US 27 N,Sebring,33870,2
57,Orange,5801751,Moghul Indian Cuisine,401 N Semoran Blvd,Winter Park,32792,2
56,St. Johns,6501451,Dan Murphy's Irish Pub,"4320 A1A South, Suite 9 & 10",Saint Augustine,32080,2
55,Brevard,1505386,Asian Gourmet,459 N Harbor City Blvd,Melbourne,32935,2
54,Citrus,1900026,Oysters Restaurant,606 NE US Hwy 19,Crystal River,34429,2
53,Bay,1305465,Ketana Thai Restaurant And Sushi Bar,10514 Front Beach Road,Panama City Beach,32407,2
50,Hillsborough,3918192,China 1,"4350 W Water Ave , Suite 103",Tampa,33614,2
49,Hillsborough,3917455,Dosa Hut,10029 W Hillsborough Ave,Tampa,33615,2
48,Palm Beach,6007995,Peking Place,531 S Main St,Belle Glade,33430,2
47,Duval,2615135,Brentwood Golf Course,1157 Mbo1 Golfair Blvd.,Jacksonville,32209,2
46,Seminole,6900043,Mayfair Country Club,3536 Country Club Road,Sanford,32773,2
45,Pasco,6102516,Niko's Grill,14100 Hicks Road,Hudson,34669,2
44,Jackson,4200539,Dairy Queen Grill And Chill,State Road 71,Marianna,32448,2
43,Duval,2611391,Country Cabin,1401 Dunn Ave,Jacksonville,322184835,2
42,Pinellas,6217634,Perrys Restaurant,3405 34 St N,St. Petersburg,33713,2
41,Pinellas,6216540,Britts Pizza,10709 Gulf Blvd,Treasure Island,33706,2
40,Dade,2316103,Los Primos Cafeteria & Grill #2,1864 SW 8 St,Miami,33135,2
39,Lee,4606678,Buffalo Wild Wings,25271 Chamber Of Commerce Dr,Bonita Springs,34134,2
38,Pinellas,6216322,Senor Taco,6447 Park Blvd Ste# 1,Pinellas Park,33781,2
37,Broward,1620974,Tamarac Thai And Sushi,7658 N Nob Hill Road,Tamarac,33321,2
118,Duval,2609086,Jax Market Place Take-0Ut #1,614 Pecan Park Road,Jacksonville,32218,2

In [14]:
def closure_csv(df_restaurants, lvio, lvio2):
    
    ''' Write all restaurants with initial closures to csv '''
    
    df_restaurants = df_restaurants.drop_duplicates()
    df_restaurants.to_csv('outfiles/closedrestaurants.csv', index=False)

    # Write csv file for violation details on initial closures
    keys = lvio[0].keys
    with open('outfiles/closurevios.csv', 'w', newline='') as output_file:
        fc = csv.DictWriter(output_file, fieldnames=lvio[0].keys())
        fc.writeheader()
        fc.writerows(lvio)

    # Write csv file for violation details on continued closures
    keys = lvio2[0].keys
    with open('outfiles/closurevios2.csv', 'w', newline='') as output_file:
        fc = csv.DictWriter(output_file, fieldnames=lvio2[0].keys())
        fc.writeheader()
        fc.writerows(lvio2)

response = input("Do you want to get a new csv file for restaurant closures: Y or N")

if response == "Y":
    closure_csv(df_restaurants, lvio, lvio2)
elif response == "N":
    pass

Do you want to get a new csv file for restaurant closures: Y or NN